<% provide(:title, "Forgot Password") %>

<h1>Account Setup</h1>
<h2>Please enter a password for your new account.</h2> 

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: confirm_path) do |f| %>
    
      <p>Email: <span id="email"></span><p>
      <script>
        var email = "<%= CGI::unescape(request.query_string.split('email=').last).html_safe %>";
        document.getElementById('email').innerHTML = email;
      </script>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      
      <%= f.submit "Save password", class: "btn btn-success" %>
    <% end %>
	<br>
	<br>
	<br>
    <%= button_to "Home", root_path, method: :get, class: "btn btn-primary" %> </td> 
  </div>
</div>
