<% provide(:title, "Forgot Password") %>

<h1>Forgotten Password Assistance </h1>
<h2>Please enter a valid email address and answer the secret question recorded for your account.</h2> 

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: forgot_submit_path) do |f| %>
    
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", value: @email %>
      
      <%= f.label :secret_answer, @secret_question %>
      <%= f.text_field :secret_answer, class: "form-control" %>
      
      <%= f.submit "Retreive Security Question", class: "btn btn-success" %>
    <% end %>
	<br>
	<br>
	<br>
    <%= button_to "Home", root_path, method: :get, class: "btn btn-primary" %> </td> 
  </div>
</div>
