<% provide(:title, "Sign in") %>
<h3>Welcome to the Administrative User Management Panel</h3>
<p>If you are an admin sign in here, otherwise you shouldn't be here!</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
