<% provide(:title, "Sign in") %>

<% unless params[:error].nil?  %>
<script>
$(document).ready(function() {
	alert("<%= URI.unescape(request.query_string.split("error=")[1]).html_safe %>")
})
</script>
<% end %>

<h1>Welcome to the Employee Access Portal (EAP) </h1>
<h2>Please sign in below. If you encounter technical problems, please notify <b>admin@vulny.xyz</b></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>

      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control" %>

      <%= f.submit "Sign in", class: "btn btn-success" %>
    <% end %>
	<br>
	<br>
<table style="width:100%">
<tr>
<td style="width:50%">    <%= button_to "Register", register_path, method: :get, class: "btn btn-primary" %></td>
<td style="width:50%">    <%= button_to "Forgot Password?", forgot_path, method: :get, class: "btn btn-warning" %> </td> 
</tr>
</table>
  </div>
</div>
