<% provide(:title, "Sign in") %>

<% unless params[:error].nil?  %>
<script>
$(document).ready(function() {
	alert("<%= URI.unescape(request.query_string.split("error=")[1]).html_safe %>")
})
</script>
<% end %>

<h1>Welcome to the Login Portal.</h1>
<h2>Please sign in below. If you encounter technical problems, please email admin@hostname.com</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>

      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control" %>

      <%= f.submit "Sign in", class: "btn btn-success" %>
    <% end %>
	<br>
	<br>
<table style="width:100%">
<tr>
<td style="width:50%">    <%= button_to "Register", {action: "register"}, class: "btn btn-primary" %> </td>
<td style="width:50%">    <%= button_to "Forgot Password?", {action: "forgot"}, class: "btn btn-warning" %> </td> 
</tr>
</table>
  </div>
</div>
